*.wav
*.mp3
.chroma
.DS_Store
.eslintrc.js
.idea
.venv
venv
.envrc
.direnv
.vs
.vscode
*.bak
*.ipynb
*.log
*pycache*
cert.pem
key.pem
package.json
package-lock.json
Thumbs.db
wandb
*.pt
*.pth
/py310

# ignore user docker config and top level links to docker files
/docker-compose.yaml
/docker-compose.yml
/Dockerfile
.env

